<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                  <li><a href="signup">New User</a></li>
                  <li><a href="login">login</a></li>
            </ul>
        <h3 class="text-muted"><%= title %></h3>
        </div>
        <div class="jumbotron">
            <h1>Welcome to <%= title %></h1>
            <ul class="social" id="css3">
                <li class="google">
                    <a href="/signup/google"><strong>Google</strong></a>
                </li>
                <li class="facebook">
                    <a href="/signup/fb"><strong>Facebook</strong></a>
                </li>
                <li class="twitter">
                    <a href="/signup/twitter"><strong>Twitter</strong></a>
                </li>
            </ul>
        </div>
    </div> 
  </body>
</html>