<!DOCTYPE html>
<html>
  <head>
    <% include include/header %>
  </head>
  <body>
  	<div class="container" >
  		<div class="header">
	        <ul class="nav nav-pills pull-right">
	          <li><a href="signup">New User</a></li>
	          <li><a href="login">login</a></li>
	        </ul>
	        <h3 class="text-muted"><%= title %></h3>
      	</div>
		<form class="form-signin" style="max-width: 330px;padding: 15px;margin: 0 auto;" name="add user" method="post">
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="text" name="uname" class="form-control" placeholder="Email address" required="" autofocus="">
			<input type="password" name="pass" class="form-control" placeholder="Password" required="">
			<label class="checkbox">
			<input type="checkbox" name="remembr"> Remember me
			</label>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
		<%= msg %>
  	</div>
  </body>
</html>