<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form name="add user" method="post" >
	  	<table>
	  		<tr>
	  			<td>User Name</td>
	  			<td>:</td>
	  			<td><input type="text" name="uname"></td>
	  		</tr>
	  		<tr>
	  			<td>Password</td>
	  			<td>:</td>
	  			<td><input type="password" name="pass"></td>
	  		</tr>
	  		<tr>
	  			<td><input type="checkbox" name="remembr"> Remember Me </td>
	  			<td> </td>
	  			<td><input type="submit" value="Log In"></td>
	  		</tr>
	  		<tr>
	  			<td> </td>
	  			<td> </td>
	  			<td><a href="forgotpass"> Forgot Password </a></td>
	  		</tr>
	  	</table>
	  	<%= msg %>
	</form>
  </body>
</html>