<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<form name="add Email" method="post" >
	  	<table>
	  		<tr>
	  			<td>Add Email</td>
	  			<td>:</td>
	  			<td><input type="email" name="email" id="eid"></td>
	  		</tr>
	  		<tr>
	  			<td>
	  				<input type="submit">
	  			</td>
	  		</tr>
	  	</table>
	  	<%= msg %>
	</form>
  </body>
</html>